---
import { Comment } from 'astro-pure/advanced'
import { Button, Collapse, Spoiler, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'
import ToolSection from '@/components/about/ToolSection.astro'

const headings = [
  { depth: 2, slug: 'hobbies', text: 'Hobbies' },
  { depth: 2, slug: 'tools', text: 'Tools' },
  { depth: 2, slug: 'social-networks', text: 'Social Networks' },
  { depth: 2, slug: 'gossips', text: 'Gossips' },
  { depth: 2, slug: 'about-blog', text: 'About Blog' }
]
---

<PageLayout title='About me'>
  <p>Hi, I am Mohammad Qasim 👩‍💻📱</p>
  <p>
    I am a mobile developer with one year of hands-on experience in building cross-platform mobile
    applications. Over the past year, I’ve worked on creating responsive, scalable, and
    user-friendly apps using Flutter and Native Android. I have a solid understanding of state management, API integration, Firebase services, and UI/UX best
    practices. I’m passionate about writing clean, maintainable code and continuously improving my
    skills to build high-quality mobile solutions.
  </p>

  <Button title='Email me' class='w-fit' href='mailto:devqasim@gmail.com' style='ahead' />

  {/* general-talk */}
  <h2 id='hobbies'>Some facts about me</h2>
  <ul>
    <li>
      🎮 <strong>Tekken Player</strong> – Competitive player with <strong>Nina Williams</strong>
      as my main character. I enjoy mastering her combos and strategies.
    </li>
    <li>
      🎬 <strong>Cinephile</strong> – I watch a lot of movies in my free time. Some of my favourite movies
      are:
      <ul>
        <li><em>Requiem for a Dream</em></li>
        <li><em>A Silent Voice</em></li>
        <li><em>Before Sunrise</em></li>
        <li><em>The Shawshank Redemption</em></li>
      </ul>
    </li>
    <li>
      🎧 <strong>Music Lover</strong> – I listen to music during my coding sessions to help me stay calm
      while fixing bugs. My favorite artists are <strong>The Weeknd, Young Stunners and BTS</strong
      >.
    </li>
  </ul>

  {/* tools */}
  <h2 id='tools'>My Tech Stack</h2>
  <ToolSection
    class='mb-5'
    title='Frameworks'
    tools={[
      {
        name: 'Flutter',
        description: '',
        href: 'https://www.adobe.com/products/photoshop',
        icon: import('@/assets/tools/flutternew.svg?raw')
      },
      {
        name: 'Native Android',
        description: '',
        href: 'https://www.adobe.com/products/illustrator',
        icon: import('@/assets/tools/androidnew.svg?raw')
      },
      {
        name: 'Node JS',
        description: '',
        href: 'https://www.adobe.com/products/aftereffects',
        icon: import('@/assets/tools/nodejs.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Databases'
    tools={[
      {
        name: 'Firebase',
        description: '',
        href: 'https://www.google.com/chrome/',
        icon: import('@/assets/tools/firebase.svg?raw')
      },
      {
        name: 'MongoDB',
        description: '',
        href: 'https://www.mozilla.org/en-US/firefox',
        icon: import('@/assets/tools/mongodbnew.svg?raw')
      },
      {
        name: 'SQLite',
        description: '',
        href: 'https://www.notion.so/',
        icon: import('@/assets/tools/sqlite.svg?raw')
      },
      {
        name: 'Drift',
        description: '',
        href: 'https://typora.io/',
        icon: import('@/assets/tools/drift.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Tools'
    tools={[
      {
        name: 'VS Code',
        description: '',
        href: 'https://code.visualstudio.com/',
        icon: import('@/assets/tools/vscode.svg?raw')
      },
      {
        name: 'Android Studio',
        description: '',
        href: 'https://neovim.io/',
        icon: import('@/assets/tools/androidstudionew.svg?raw')
      },
      {
        name: 'Git',
        description: '',
        href: 'https://www.sublimetext.com/',
        icon: import('@/assets/tools/git.svg?raw')
      },
      {
        name: 'Postman',
        description: '',
        href: 'https://www.sublimetext.com/',
        icon: import('@/assets/tools/postman.svg?raw')
      },
      {
        name: 'FVM',
        description: '',
        href: 'https://www.sublimetext.com/',
        icon: import('@/assets/tools/flutternew.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='State Management'
    tools={[
      {
        name: 'Riverpod',
        description: '',
        href: 'https://code.visualstudio.com/',
        icon: import('@/assets/tools/flutternew.svg?raw')
      },
      {
        name: 'Bloc',
        description: '',
        href: 'https://neovim.io/',
        icon: import('@/assets/tools/flutternew.svg?raw')
      },
      {
        name: 'GetX',
        description: '',
        href: 'https://www.sublimetext.com/',
        icon: import('@/assets/tools/flutternew.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Networking & API'
    tools={[
      {
        name: 'Express JS',
        description: '',
        href: 'https://code.visualstudio.com/',
        icon: import('@/assets/tools/expressjs.svg?raw')
      },
      {
        name: 'http',
        description: '',
        href: 'https://neovim.io/',
        icon: import('@/assets/tools/http.svg?raw')
      },
      {
        name: 'dio',
        description: '',
        href: 'https://www.sublimetext.com/',
        icon: import('@/assets/tools/flutternew.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Environment'
    tools={[
      {
        name: 'MacOS',
        description: '',
        href: 'https://www.apple.com/macos/',
        icon: import('@/assets/tools/apple.svg?raw')
      },
      {
        name: 'Windows 10',
        description: '',
        href: 'https://news.microsoft.com/windows11-general-availability/',
        icon: import('@/assets/tools/windows11.svg?raw')
      }
    ]}
  />

  {/* social-networks */}
  <h2 id='social-networks'>My Social Media Accounts</h2>

  <Substats
    stats={[
      {
        platform: 'GitHub',
        icon: import('@/assets/tools/github.svg?raw'),
        link: 'https://github.com/tech-qasim',
        text: '',
        api: 'github/cworld1'
      },
      {
        platform: 'Linkedin',
        icon: import('@/assets/tools/linkedin.svg?raw'),
        color: '#2ca5e0',
        link: 'https://www.linkedin.com/in/qasimxo/',
        text: 'subscribers',
        api: 'telegram/cworld0_cn'
      },
      // {
      //   platform: 'devmohdqasim@gmail.com',
      //   icon: import('@/assets/tools/email.svg?raw'),
      //   color: '#2ca5e0',
      //   link: 'https://t.me/cworld0_cn',
      //   text: 'subscribers',
      //   api: 'telegram/cworld0_cn'
      // }
    ]}
  />

  {/* gossips */}
  <!-- <h2 id='gossips'>Gossips</h2>
  <Collapse title='Lorem ipsum'>
    Lorem ipsum dolor sit amet, vidit suscipit at mei. Quem denique mea id. Usu ei regione indoctum
    dissentiunt, cu meliore fuisset mei, vel quod voluptua ne. Ex dicat impedit mel, at eum oratio
    possit voluptatum.
  </Collapse>

  {/* about-blog */}
  <h2 id='about-blog'>About Blog</h2>
  <p>Website history:</p>
  <Timeline
    events={[
      {
        date: '2024-04-29',
        content:
          'Website refactored using <a href="https://astro.build/" target="_blank">Astro</a> and <a href="https://github.com/srleom/astro-theme-resume" target="_blank">Astro Theme Resume</a>'
      },
      {
        date: '2024-07-26',
        content:
          'Website abstracted as a theme and published on <a href="https://github.com/cworld1/astro-theme-pure"target="_blank">Github</a>'
      },
      {
        date: '2024-07-27',
        content: 'Began writing website docs'
      }
    ]}
  />
  <p>
    The smooth operation and personalized customization of website also rely on the resources and
    technical support provided by the following excellent projects/service providers:
  </p>
  <ul>
    <li>Domain: <a href='#' target='_blank'>Vercel</a></li>
    <li>
      Framework & Theme: <a href='https://astro.build/' target='_blank'>Astro</a> + <a
        href='https://github.com/cworld1/astro-theme-pure'
        target='_blank'>Astro Theme Pure</a
      >
    </li>
    <li>
      Site hosting: <a href='https://vercel.com/' target='_blank'>Vercel</a>
    </li>
    <li>
      CI/CD: <a href='https://vercel.com/workflow' target='_blank'>Vercel Workflow</a>
    </li>
     <li>Resources speedup: <a href='https://cdn.cbd.int/' target='_blank'>CBD CDN</a></li> -->
  <!-- <li>Comment system: <a href='https://waline.js.org' target='_blank'>Waline</a></li>
    <li>
      Visits: <a href='https://supabase.com/' target='_blank'>Supabase</a> +
      <a href='https://waline.js.org/' target='_blank'>Waline</a>
    </li>
    <li>
      Other statistics: <a href='https://github.com/spencerwooo/substats' target='_blank'
        >Substats</a
      >
    </li>
  </ul>
  <Comment slot='bottom' /> -->
</PageLayout>
